/*
 *
 *
 * Copyright 2009, 2011 Oracle and/or its affiliates. All rights reserved.
 *
 */
@import url("../../yui-reset-font-grids_base-min.css");

/* oracle.com template custom styles */

#head-container {
	height:120px;
}

.page-container {
	width:750px;
	margin: 10px auto 10px auto;
	position: relative;
}

.lang_wrapper {
	float:left;
	padding-top:10px;
	text-align:right;
	vertical-align:bottom;
	position: relative;
	width:575px;
}

ul#navigation {
	background:url("../navigation-item-background.png") repeat-x scroll left bottom transparent;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	height:43px;
	min-width:500px;
	position:relative;
	z-index:50;
	margin:0;
	padding:0;
	display:block;
}

ul.menu {
	float:left;
	width:100%;
	z-index:1;
}

ul#navigation li#left_cap {
	background:url("../mosaic-homebutton.png") repeat scroll -2px -46px transparent;
}

ul#navigation li, ul#navigation li p, ul#navigation li p a {
	float:left;
	height:100%;
	list-style:none outside none;
	color:#000000;
}

ul#navigation li.top-level p a {
	background:url("../separator.png") no-repeat scroll right top transparent;
	height:27px;
	padding:12px 15px 0;
}

ul#navigation li.top-level p a:hover {
	text-decoration: underline;
	color:#FF0000;
}

ul#navigation li.last p {
	background:url("../navigation-last-button-cap.png") no-repeat scroll right bottom transparent;
}

ul#navigation li.special {
	float:right;
}

.breadcrumbs {
	width:750px;
	display: block;
	position: relative;
	height:40px;
}

.breadcrumb_left {
	background:url("../breadcrumb-left.png") no-repeat scroll left top transparent;
	float:left;
	height:33px;
	width:129px;
}
.breadcrumb_center {
	background:url("../breadcrumb-center.png") repeat-x scroll left top transparent;
	float:left;
	height:33px;
	width:492px;
}
.breadcrumb_right {
	background:url("../breadcrumb-right.png") no-repeat scroll right top transparent;
	float:right;
	height:33px;
	width:129px;
}

.breadcrumb_content {
	color:#666666;
	font-size:11px;
	font-weight:bold;
	left:10px;
	line-height:22px;
	padding:4px 0 0 5px;
	position:absolute;
}

.breadcrumb_center .breadcrumb_content .active {
	color:#A6A6A6;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
}

.breadcrumb_center .breadcrumb_content a {
	color:#666666;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
}

.breadcrumb_center .breadcrumb_content a:hover {
	color:#FF0000;
	font-size:11px;
	font-weight:normal;
	text-decoration:underline;
}

.footer {
	float:right;
	margin-bottom:40px;
	margin-top:5px;
	width:100%;
}



/* Common Styles */
a { color:#666666; text-decoration: none; }
a:hover { text-decoration: underline; color:#FF0000;}
a.p5i {
        background: transparent url(../../p5i-link.png) scroll no-repeat right center;
        padding: 2px 16px 2px 0px;
}

#custom-doc {
        margin: auto;
        min-width: 730px;
        text-align: left;
        width: 100%;
}

/* Header Styles */
div#hd {
        margin-top: 8px;
}

div.global-nav {
        display: block;
        width: 100%;
}

div.global-nav div.lang-sel {
        display: block;
        float: right;
        margin: 4px 0;
        font-size: 85%;
}

div.masthead {
	height:35px;
	margin-bottom:6px;
	position:relative;
	display:block;
}

div.masthead a#logo {
	float:left;
	width:151px;
	height:18px;
	display:block;
	margin-top:8px;
	margin-left:8px;
	background: url("../oralogo_small.gif") no-repeat scroll 0 0px transparent;
}

div.page-title {
        clear: both;
        display: block;
        font-weight: bold;
        color: black;
}

/* Body Styles */
div#bd {
        margin: auto;
        width: 730px;
}
.section-title {
        border-bottom: 1px solid black;
}
ul.tips li {
        margin-bottom: 10px;
}
table.stats a#catalog-feed {
        float: right;
        background: transparent url(../feed-icon-14x14.png) no-repeat;
        width: 16px;
        height: 16px;
        display: block;
}
table.stats {
        width: 100%;
        background-color: #EEEEEE;
        -moz-border-radius: 2%;
}
table.stats tr.first {
        background-color: #999999;
        -moz-border-radius: 2% 2% 0 0;
}
table.stats th.last {
	border: 0;
        text-align: left;
}
table.stats td { border: 0; }
table.stats td.label {
        text-align: right;
        width: 90%;
}
table.stats td.value { text-align: center; }

/* Footer Styles */
div#ft {
        color: black;
        font-size: 77%;
        margin: 20px 0 8px 0;
}
div#ft .page-container {
        padding-bottom: 30px;
}

div#ft .footer-line {
	background:none repeat scroll 0 0 #DCDCDC;
	height:7px;
	margin-bottom:12px;
	width:100%;
}

div#ft .logo {
	float:left;
	padding:0 0 0 12px;
}

div#ft .footer-nav {
	float:right;
	font-size:12px;
	padding:0 10px 0 0;
	text-align:right;
}

div#ft .footer-links {
	font-size:10px;
}

div#ft a.footer-links:link {
	color:#000000;
	text-decoration:none;
}
	
div#ft a.footer-links:visited {
	color:#000000;
	text-decoration:none;
}

div#ft a.footer-links:hover {
	color:#FF0000;
	text-decoration:underline;
}




/* Catalog and Search Styles */
form.advanced-search input#search-field {
        width: 99%;
}
form.search table {
        width: 100%;
        border: 2px solid silver;
}
form.search table td {
        border: none;
}
form.search a {
        font-size: 77%; /* 10px */
        vertical-align: top;
}
form.search span.tip {
        color: #606060;
        text-decoration: underline;
}
form.search table td.label {
        padding-left: 2em;
        width: 30%;
}
form.search table td.submit {
        text-align: right;
}
div.results { margin-top: 20px; }
div.results table {
        -moz-border-radius: 1%;
        background-color: #D2D5D7;
        width: 100%;
}
div.results table td {
        border: 0;
}
div.results table th {
        border: 0;
        text-align: left;
}
div.results table tr.first {
        -moz-border-radius: 1% 1% 0 0;
        background-color: #D2D5D7;
}
div.results table tr {
        background-color: white;
}
div.results table tr.odd {
        background-color: #EEEEEE;
}
div.results table tr.last {
        background-color: #D2D5D7;
}
div.results table tr.last td.last {
        text-align: right;
}

